header {
  background-color: #0e568c;
}
.navbar-brand {
  color: white;
  font-size: 36px;
  font-weight: 900;
}

.nav-item, .nav-link{
  color: white !important;
  font-weight: 600;
  font-size: large;
}
